// colors
$darkCyanBlue:#2B3649;
$lightBlue:#f4f6f8;
$white: #fff;
$caribbeanGreen: #00BFA5;
$lightGreen: #ECFDF5;
$darkGreen: #006658;
$black: #000;
$lightGrey: #D1D5DB;
$red: #EF4444;


// font family
$defaultFont: "Inter", "Helvetica", "Arial", "sans-serif";
$fontTiempos: "Tiempos Headline Regular"

// font size
